<h2>Su carrito de compra</h2>
    <table>
            <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Price</th>
                    </tr>
            </thead>
            <tbody>
                <tr>
                    {{#each data.nombre}}<td style="width: 200px; display: flex; flex-direction: column">{{this}}</td>{{/each}}
                    {{#each data.descripcion}}<td style="min-width: 400px; text-align:justify;">{{this}}</td>{{/each}}
                    {{#each data.price}}<td style="width: 200px; text-align:center; display: flex; flex-direction: column">{{this}}</td>{{/each}}
                </tr>
            </tbody>
    </table>

<form action="http://localhost:8080/carrito" id="email-cart" method="POST">

    <input type="email" id="email" name="email" placeholder="Ingrese su email">
    <button type="button" onclick="main()">Capturar</button>
    <button type="submit" id="miboton" >Comprar</button>

    <script src="../correo.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>

    <script>
        /* Este codigo no funciona, lo borraré en breve
        function sendEmail(){
            Email.send({
                Host: 'smtp.elasticemail.com',
                Username: "marcopontiz@gmail.com",
                Password: 'ijgw tmtf reux zryt',
                To: 'marcopontiz@gmail.com',
                From: document.getElementById("email").value;
                Subject: 'Hola! Gracias por comprar nuestros productos!',
            })
        }
        */
    </script>
</form>