<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
</head>
<body>
    <header></header>
    <main>
        <h1>Registro</h1>
            <form action="/signup" method="POST">
                <input type="text" name="nombre" placeholder="Ingrerse su nombre">
                <input type="text" name="numero" placeholder="Introdusca su numero de celular">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Ingrece su contraseña">
                <br>
                <button type="submit">Singup</button>
            </form>
    </main>
    <footer></footer>
</body>
</html>